# Entorno virtual
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/

# Archivos de sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Archivos de logs
*.log

# Archivos compilados
*.egg-info/

pasos.md