{% extends "base.html" %}
{% block title %}Confirmar pedido{% endblock title %}
{% block content %}

<h1>Resumen del pedido</h1>

{% if productos_carrito %}

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        {% for item in productos_carrito %}
        <tr>
            <td>{{ item.producto.nombre }}</td>
            <td>${{ item.producto.precio }}</td>
            <td>{{ item.cantidad }}</td>
            <td>${{ item.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Total: ${{ total }}</h3>
<p><a href="{% url 'pedidos:confirmar_compra' %}">Confirmar compra</a></p>
<p><a href="{% url 'carrito:ver_carrito' %}">Volver al carrito</a></p>

{% else %}

<p>No existen productos para comprar.</p>
<p><a href="{% url 'productos:lista_productos' %}">Volver al catálogo</a></p>

{% endif %}
{% endblock content %}